html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ion-content {
  overflow-y: auto;
}

ion-list.edge-to-edge ion-item {
  --padding-start: 0.25rem;
  --padding-end: 0.25rem;
}

.action-sheet-container .action-sheet-button.action-sheet-destructive {
  color: var(--ion-color-danger);
}

.action-sheet-container .action-sheet-button.action-sheet-cancel {
  color: var(--ion-color-step-400);
}